# Object files
*.o
*.ko
*.obj
*.elf
*.git

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Dependency directories
node_modules/

# Un needed files
script/test.js
script/routes.js
