
.name {
  display: block;
  margin: auto;
  width: 100%;
  background-image: url("/imgs/boston_harbor.jpg");
  margin-top: 50px;
  height: 1000px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.my-name{
  margin: auto;
  height: inherit;
  display: inline-block;
  border: none;
  transform: translateY(25%);
  font-size: 20px;
  font-weight: bolder;
  margin-left: 2%;
}
.hidden, .me{
  display: none;
}
.header{
  height: 50px;
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
}

.burger{
  font-size: 32px;
  float: right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transform: translateY(10%);
}
