
.name {
  display: block;
  margin: auto;
  width: 100%;
  background-image: url("/imgs/boston_harbor.jpg");
  margin-top: 2.4em;
  height: 1000px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.me{
  margin: 2%;
  margin-top: 83px;
  border: 1px solid black;
  text-align: center;
  padding: 4%;
}
.my-name{
  margin: auto;
  height: inherit;
  display: inline-block;
  border: none;
  transform: translateY(25%);
  font-size: 26px;
  font-weight: bold;
  margin-left: 2%;
  text-shadow: 0 0 3px #e4e4e4;
}
.hidden, .me{
  display: none;
}
.header{
  height: 50px;
  background-color: hsla(24, 67%, 57%, 1);
  position: fixed;
  top: 0;
  width: 100%;
}
.burger{
  font-size: 32px;
  float: right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transform: translateY(10%);
}
#project-list{
  float: right;
  margin-top: 2%;
  list-style-type: none;
  position: absolute;
}
@media only screen and (min-width: 500px){
  .project{
    display: none;
  }
  .burger{
    display: none;
  }
  .hidden hr {
    display: none;
  }
}
